*env*
*ENV*
!examples/.env
**/*/__pycache__/
__pycache__/
__pypackages__/
.cache/
.webassets-cache
.git/
.idea/
.installed.cfg
.Python
.vscode/
build/
downloads/
instance/
lib/
lib64/
node_modules/
parts/
share/
var/
archive/
data/*.ics
dist/
history.log
references/
tests/*.json
tests/*.csv
*.py[cod]
**/Thumbs.db
*$py.class
*.kate-swp

